ul {
  padding: 0;
}

li {
  list-style-type: none;
}

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  flex-grow: 1;
  overflow-y: hidden;


  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    mat-card {
      display: flex;
      flex-direction: column;

      &-content {
        flex-grow: 1;
        padding: 1rem;
        overflow-y: hidden;

        & > ul {
          height: 100%;
          overflow-y: auto;
          padding-block: 1rem;

          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }

      &-actions {
        gap: 1rem;

        button {
          width: 8rem;
        }
      }
    }
  }
}

.form {
  width: 50%;
  min-width: fit-content;
  max-height: 90%;
  flex-grow: 1;
}

.components {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.empty-fields-placeholder {
  color: #CCCCCC;
  border-color: #CCCCCC;
  border-style: dashed;
  border-width: 2px;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

aside{
  margin: 1rem;
}

.mat-success {
  background-color: darkslategray;
  color:white;
}
.mat-success:hover{
  background-color: #2a3f42;
}

.mat-success:not(:disabled){
  color: white;
}
.mat-success:disabled{
  background-color: lightgray;
  color: darkgray;
}