mat-expansion-panel {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;

  form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .panel-header{
    overflow: hidden;
    max-width: 25rem
  }
  input{
    overflow:hidden;
    max-width: 25rem;
  }
}