:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

button{
  background-color: darkslategray;
  border-radius: 25px;
  color:white;
  width: 10rem;
  height: 3rem;
  border:transparent;
}