mat-dialog-content {
  padding-block-start: 1rem !important;

  form {
    display: flex;
    flex-direction: column;
  }
  button{
    flex:1;
    flex-wrap: wrap;
    margin: 1em;
    border-radius: 15px;
    padding:1em;
    background-color: darkslategray;
  }
  button:hover{
    background-color: #2a3f42;
  }
}
