html, body { height: 100%; width: 100vw; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif ;  }

* {
  box-sizing: border-box;
  // background-color: #e9feff;
}

.success-notification {
  background-color: #4caf50;
  color: white;
}

.error-notification {
  background-color: #f44336;
  color: white;
}

.warning-notification {
  background-color: #ff9800;
  color: white;
}

.info-notification {
  background-color: #2196f3 !important;
  color: white !important;
}

button{
  background-color: darkslategray;
  border-radius: 25px;
  color:white;
  width: 10rem;
  height: 3rem;
  border:transparent;
  cursor: pointer;
}