html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

.success-notification {
  background-color: #4caf50;
  color: white;
}

.error-notification {
  background-color: #f44336;
  color: white;
}

.warning-notification {
  background-color: #ff9800;
  color: white;
}

.info-notification {
  background-color: #2196f3 !important;
  color: white !important;
}
