:host {
  margin: 1rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  display: flex;
  color: white;
  
}

h1 {
  margin: 1rem;
}

.Header-Wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
}