:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: black;
}

main {
  flex-grow: 1;
}
h2{
  color: white;
}

.button-wrapper{
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  flex:1;
  border-radius: 15px;
  margin: 1em;
  // height: ;
}

.button-wrapper button{
  flex:1;
  flex-wrap: wrap;
  margin: 1em;
  border-radius: 15px;
}