<app-header />

<main>
  <article class="button-wrapper">
    <button (click)="onOpenBuildFormDialog()">Build Form</button>
    <button (click)="logout()">Logout</button>
  </article>
  <h2>Your Forms:</h2>
  <ul>
    @for (form of forms; track form; let i = $index) {
      <li>
        <mat-card>
          <h3>{{ form.title }}</h3>
          <p>{{ form.description }}</p>
          <mat-card-actions align="end">
            <button (click)="onDownloadForm(form.formid)">Download</button>
            <button (click)="onViewFormResponse(form.formid)">View Responses</button>
            <button color="primary" (click)="onViewForm(form.formid)">View</button>
            <button color="secondary" (click)="onCopy()" [cdkCopyToClipboard]="surveyUrl(form.formid)">Share</button>
          </mat-card-actions>
        </mat-card>
      </li>
    }
  </ul>
</main>

<app-footer />